<h1>New restaurant</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= simple_form_for(@restaurant) do |r| %>
        <%= r.error_notification %>

        <%= r.input :name %>
        <%= r.input :address %>
        <%= r.input :category %>
        <%= r.input :phone_number %>

        <%= r.button :submit, class: 'btn btn-warning'%>
      <% end %>
    </div>
  </div>
</div>

